/*Global*/
:root{
	--mainText:black;
	--secondaryText:#4b5156;


	--borderColor:#c1c1c1;

	--mainColor:#eaeaea;
	--secondaryColor:#fff;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251,249,243,0.8);
	--previewShadow: #f0ead6;

	--buttonColor: black;

	--buttonhovertextColor:#fff;
	--buttonhoverColor:black;
	}

html,body{
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}

h1,h2,h3,h4,h5,h6, strong,#note{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;

}
p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

a{
	text-decoration: none;
	color: #17a2b8;
}

ul{
	list-style: none;
}

.s1{
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}
.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column' ;
}

.nav-wrapper{
	border-radius: 5px 5px 0 0;
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	background-color: var(--mainColor);
}
.dots-wrapper{
	display: flex;
	padding: 10px;

}

#navigation a{
	color: var(--mainText);
}

#navigation{
	margin: 0;
	padding: 11px;
	list-style: none;
}

#dot-1{
	background-color: #FC6058;
}
#dot-2{
	background-color: #FEC02F;
}

#dot-3{
	background-color: #2ACA3E;
}


.browser-dot{
	-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px; 

}
.left-column{
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}
#profile_pic{
	display: block;
	margin: 0 auto;

	object-fit: cover;
	height:400px;
	width:350px;
	border: 2px solid var(--borderColor);
}
.theme-dot{
	height:30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin:5px;
	border: 2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px rgba(0,0,0,0.75);

	cursor: pointer;
}

#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot:hover{
	border-width: 5px;
}

#light-mode{
	background-color: #fff;
}
#blue-mode{
	background-color: #192734;
}
#green-mode{
	background-color: #78866b;
}
#purple-mode{
	background-color: #7E3C74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align:center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	
	padding-top: 50px;
	padding-bottom: 50px;
}
#preview-shadow{
	background-color: var(--previewShadow);
	width: 300px;
	height: 232px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width: 7px;
	height: 7px;
	border-radius:50%; 
	border:1.5px solid black;
	background-color: #fff;
	position: absolute;
}
#corner-t1{
	top: -5px;
	left: -5px;
}
#corner-t2{
	top: -5px;
	right: -5px;
}
#corner-b1{
	bottom: -5px;
	right: -5px;
}
#corner-b2{
	bottom: -5px;
	left: -5px;
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
}

#skills{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	padding-right: 75px;
	background-color: var(--previewShadow);
}

.social-links{
	color: var(--mainText);
	display: grid;
	align-content: center;
	text-align: center;
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap :20px;
	justify-content: center;
	padding-bottom: 50px;

}

.thumbnail{
    height: 215px;
	display: block;
	width: 100%;
	object-fit: cover;
}

.post{
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
}

.post-preview{
	background-color: #fff;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
	padding-left: 6px;
	padding-right: 6px;
}

.post-title{
	margin: 0;
	color: black;
	text-align: center;
}

.post-intro{
	color: #4b5156;
	font-size: 14px;
}

#contanct-form{
	-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColors);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom:50px;
}

#contact-form label{
	line-height: 100em;
}

.about-me a{
	text-align: center;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;

}

.input-field{
    margin-top: 13px;
	margin-bottom: 23px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
	line-height: 2em;
}


#submit-btn{
	border:0.5px solid var(--borderColor);
	cursor: pointer;
    margin-bottom: 16px;
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:var(--mainText);
	background-color: var(--previewShadow);
	-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px rgba(0,0,0,0.75);
}

#submit-btn:hover{
	background-color:var(--buttonhoverColor);
	color: var(--buttonhovertextColor);
}


.post1{
	webkit-filter: blur(4px); 
    filter: blur(1px);
	display: table-column-group;
	width: 500px;
}

#note{
	text-align:center;
	margin-top: -43px;
    padding-bottom: 35px;
}

.project01,.project02,.project03{
	font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}
.post1:hover{

		border:2px solid white;
		webkit-filter: none;
        filter: none;

	}
.post1:target{display:none;}


.right-column h3{
	margin-top: 3px;
	margin-bottom: 3px;
}


.images{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.image_box{    
	margin-left: 450px;
    margin-top: 200px;
    margin-bottom: 200px;
	width: 300px;
	height: 150px;
	justify-content: center;
	align-items: center;
	position: relative;
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;	
}
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateY(0deg);
	}
	100%{
		transform: perspective(1000px) rotateY(360deg);
	}
}
.image_box span {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.image_box span img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}





























@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}
@media screen and (max-width: 800px){
	.intro-wrapper{
	   grid-template-columns: 1fr;
	   grid-template-areas: 
	   'nav-wrapper' 
	   'left-column'
	   'right-column';
   }
   .right-column{
   	justify-content: center;
   }
}

@media screen and (max-width: 640px){

	h1{font-size: 35px;}


	h1,h2,h3,h4,h5,h6,a,p,{
		text-align: center;
	}

	#profile_pic {
        margin: -8px auto;
        height: 350px;
        width: 272px;}

    #preview {
    	width: 258px;
        padding-right: 9px;}

    #preview-shadow {
        width: 266px;
        height: 186px;
        padding-left: 21px;
        padding-top: 21px;}

}



@media screen and (max-width: 536px){
	.post1{
		width: 90%;

	}
}


@media screen and (max-width: 323px){
	#profile_pic {
	height: 345px;
    width: 246px;}

    #preview {
    width: 233px;
    height: 186px;
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 15px;}

    #preview-shadow{
    
    margin-right: -6px;
    width: 220px;
    height: 192px;
    margin-left: -27px;
    padding-top: 35px;}
}

@media screen and (max-width: 276px){

	#profile_pic {
    height: 249px;
    width: 183px;}

    h3 {
    margin: 0px;}
    p{
    	font-size: 12px;
    }
    h2,h3,h4,h5,h6,li,
    #contact-form label,
    #contact-form input{
    	font-size: 12px;
    }

    #preview {
    width: 167px;
    height: 119px;}

    #preview-shadow{

    width: 167px;
    height: 119px;
    }
    .s2{
    	width:100%;
    }

}

@media screen and (max-width: 1067px){
	.images{
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
}
@media screen and (max-width: 2500px){
	.post-wrapper{
	}
}
@media screen and (max-width: 1087px){
	.image_box {
    margin-left: 357px;
    }}
@media screen and (max-width: 950px){
    .image_box {
    margin-left: 180px;}}

@media screen and (max-width: 640px){
	.image_box {display: none;}
	.post-wrapper{
		visibility: all;
	}

}
